

*{
  font-family: 'Pontano Sans', sans-serif;
  color: grey
}


body {
  background-color: #99CCFF;
  border-width: 15px;
  border-color: grey;

  text-align: center
}

textarea {
  margin-top: 20%;
  resize:none;
  padding: 20px;
  font-size: 32px;
  text-align: center;
  border-radius: 10px;
  border-width: 1px
}

button {
  align: center
}

p {
  margin: 5px;
  align: center
}

p {
  margin: 5px;
  align: center
}

label{
  margin: 5px;
}

#city{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: grey;
  padding: 0;
  background-color: inherit;
}